html
   head
      title Form Tester
   body
      h1 Encoding type: application/x-www-form-urlencoded
      form(action = "/form/display", method = "POST", enctype="application/x-www-form-urlencoded")
         div
            label(for = "say") Say:
            input(name = "say" value = "Hi")
         br
         div
            label(for = "to") To:
            input(name = "to" value = "url encoded data")
         br
         button(type = "submit") Send to server
