html
   head
      title Form Tester
   body
      h1 Encoding type: json
      form
         div
            label(for = "say") Say:
            input(name="say" value="Hi")
         br
         div
            label(for="to") To:
            input(name="to" value="json data")
         br
         button(type="button", onclick="send()") Send to server
      div#message(style="display: none;")
         p JSON body sent to server:<br/>
            span#json
         p Check your server console for the reception confirmation.
      script.
         const msg = document.getElementById('message')
         const json = document.getElementById('json')
         function send() {
            const inputs = document.forms[0].elements
            let data = {}
            for (input of inputs) if (input.name && input.value) data[input.name] = input.value
            const body = JSON.stringify(data)
            fetch('/form/json', {
                  method: 'POST',
                  body: body,
                  headers:{'Content-Type': 'application/json'}
            })
            json.innerText = body
            msg.style.display = 'block'
         }
